html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 10px;

}

.color {
    color: #495075;
}

.outer {
    text-align: center;
}

.fontColorMinus {
    color: red;
}

.fontColorPlus {
    color: green;
}

.fontColorWarning {
    color: #ffc107;
}